<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragements :: page_head(${titlePage})"/>

<body>

<div th:replace="navigation :: menu"></div>

<section class="body">
    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${user}" onsubmit="return checkEmailUnique(this);">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" required minlength="8"
                           maxlength="128"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="2"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="2"
                           maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input th:if="${user.id == null}" type="password" class="form-control"
                           th:field="*{password}" required minlength="8" maxlength="20"/>

                    <input th:if="${user.id != null}" type="password" class="form-control"
                           th:field="*{password}" minlength="8" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Roles:</label>
                <div class="col-sm-8">
                    <th:block th:each="role : ${roles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.description}"
                               th:value="${role.roleId}"
                               class="m-2"/>
                        - <small>[[${role.name}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photos:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{photo}"/>
                    <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
                           class="mb-2"/>
                    <img id="thumbnail" alt="Photos preview"
                         th:src="@{${user.photosImagePath}}"
                         class="img-fluid"/>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3"/>
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
            </div>
        </div>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="navigation :: footer"></div>

<script type="text/javascript">
    moduleURL = "[[@{/users}]]";

    function checkEmailUnique(form) {
        const url = "[[@{/users/checkEmail}]]";
        const userEmail = $("#email").val();
        const userId = $("#id").val();
        const csrfValue = $("input[name='_csrf']").val();

        const params = {id: userId, email: userEmail, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response === "OK") {
                form.submit();
            } else if (response === "Duplicated") {
                showModalDialog("Warning", "There is another user having the email " + userEmail);
            } else {
                showModalDialog("Error", "Unknown response from server");
            }
        }).fail(function () {
            showModalDialog("Error", "Could not connect to the server");
        });

        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal('show');
    }
</script>
<script th:src="@{/js/common_form.js}"> </script>
</body>
</html>