<!DOCTYPE html>
<html lang="en">
<head th:fragment="page_head(title)">
  <meta charset="UTF-8">
  <title>[[${title}]]</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
  <div th:fragment="footer" class="text-center m-3">
    <p>Shopme - Controller Panel - Copyright &copy; Shopme</p>

  </div>
<!--  <th th:fragment="column_link(fieldName, columnLabel, removeTag)"-->
<!--           th:remove="${removeTag}">-->
<!--    <a class="text-white"-->
<!--       th:href="@{'/users/page' + ${currentPage} + '?sortField=' + ${fieldName}-->
<!--       + '&sortDir=' + ${sortField != fieldName ? sortDir: reverseSortDir}-->
<!--       + ${keyword != null ? 'keyword=' + keyword : ''}}">-->
<!--      [[${columnLabel}]]-->
<!--    </a>-->
<!--    <span th:if="${sortField == fieldName}"-->
<!--    th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>-->
<!--    <span th:if="${sortField == fieldName}"-->
<!--          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>-->
<!--  </th>-->
<!--  <a th:fragment="user_photos" th:remove="tag">-->
<!--  <span th:if="${user.photo}">-->

  </span></a>
</body>
</html>