<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
        <title>Home-Shopping Admin</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

        <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<th th:fragment="column_link(fieldName, columnLabel, remove)" th:remove="${remove}">
    <a class="text-white"
       th:href="@{'/users/page/' + ${currentPage} +
        '?sortField=' + ${fieldName} +
        '&sortDir=' + ${sortField != fieldName ? sortDir : reverse} +
        ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:value="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>

<a th:fragment="page_link(pageNum, lable)"
      class="page-link"
   th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

<div th:fragment="footer" class="text-center m-3">
    <p>Shopme - Controller Panel - Copyright &copy; Shopme</p>
</div>

</body>
</html>