<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="fragements :: page_head('Home - Shopme Page')"/>
<body>
<div th:replace="navigation :: menu"></div>
<section class="body">
    <div>
        <h2>Shopping Controller</h2>
        Welcome
        <a th:href="@{/account}" sec:authentication="principal.fullName">

        </a>
        <span sec:authentication="principal.authorities"></span>
    </div>

</section>


<div th:replace="navigation :: footer"></div>

</body>
</html>